.facebook {
    background: url(../img/facebook.svg);
    height: 50px;
    width: 50px;
}

.github {
    background: url(../img/github.svg);
    height: 50px;
    width: 50px;
}

.steam {
    background: url(../img/steam.svg);
    height: 50px;
    width: 50px;
}

.instagram {
    background: url(../img/instagram.svg);
    height: 50px;
    width: 50px;
}

svg {
    margin: 1rem;
}

.title {
    margin-bottom: 3rem !important;
}

@media only screen and (max-width: 768px) {
    .hero.is.fullheight {
        min-height: 90vh;
    }
}