.facebook {
    background: url(../img/facebook.svg);
    height: 50px;
    width: 50px;
}

.github {
    background: url(../img/github.svg);
    height: 50px;
    width: 50px;
}

.steam {
    background: url(../img/steam.svg);
    height: 50px;
    width: 50px;
}

.instagram {
    background: url(../img/instagram.svg);
    height: 50px;
    width: 50px;
}

svg {
    margin: 1rem;
}

.title {
    margin-bottom: 3rem !important;
}

img {
    width:450px;
    border-radius: 8px;
}


@media screen and (max-width: 768px) {
    ul {
        display: inherit !important;
    }

    img {
        height: 250px;
        width: 250px;
    }

    .tabs {
        display: inherit !important;
    }
}